
#content-wrapper-input{
    display:none;
}

#result-content-wrapper{
    display:none;
}

.jumbotron {
    background-color:rgb(0, 206, 209);
}

.jumbotron-fluid{
    padding:50px 0;
}

.input-fields{
    margin:10px auto;
}



